flows/Create_a_Contact_and_Case_When_VoiceCall_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CaseID</name>
        <label>CaseID</label>
        <locationX>396</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>CaseIdinfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_from_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Voice_Call_record_with_old_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_ID</name>
        <label>Contact ID</label>
        <locationX>444</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>ContactIdInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_From_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_from_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contact_Id_Info</name>
        <label>New Contact Id Info</label>
        <locationX>823</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>ContactIdInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_exist</name>
        <label>Case exist on contact</label>
        <locationX>520</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Create_a_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_exist_on_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_from_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseID</targetReference>
            </connector>
            <label>Case exist on contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exist</name>
        <label>Contact Exist</label>
        <locationX>661</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Do_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_From_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_ID</targetReference>
            </connector>
            <label>Contact Do Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORMULACallerPhone</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.CallType}, &apos;Callback&apos;),
{!$Record.ToPhoneNumber}, {!$Record.FromPhoneNumber}

)</expression>
    </formulas>
    <interviewLabel>Create a  Contact and Case When VoiceCall Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a  Contact and Case When VoiceCall Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>796</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>VoiceCall_Link_To_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectTOCase</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>823</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>New_Contact_Id_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>FORMULACallerPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>FORMULACallerPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_from_contact</name>
        <label>Get Case from contact</label>
        <locationX>436</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactIdInfo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_From_Number</name>
        <label>Get Contact From Number.</label>
        <locationX>669</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FORMULACallerPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone_E164__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FORMULACallerPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Voice_Call_record_with_old_case</name>
        <label>Voice Call record with old case</label>
        <locationX>388</locationX>
        <locationY>1142</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactIdInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>CaseIdinfo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VoiceCall_Link_To_Case</name>
        <label>VoiceCall Link To Case</label>
        <locationX>718</locationX>
        <locationY>1146</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactIdInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact_From_Number</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseIdinfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectTOCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>This call is received from this  {!$Record.FromPhoneNumber} contact number.</stringValue>
        </value>
    </variables>
</Flow>
